#block-agolf-breadcrumbs{
  ol{
    @include breadcrumbs-container;
    padding: 0;
  }
}

#block-agolf-local-tasks{
  .content{
    ul{
      @include menu-base;
      @include menu-simple;
      //border-bottom: 4px solid $primary-color;
      padding: 0;
      margin: 10px 0;

      li{
        a{
          @extend .button;
          margin-bottom: 0;
          margin-right: 1px;
        }
      }
    }
  }
}

#block-agolf-main-menu{
  ul{
    @include menu-base;
    @include menu-simple;
    padding: 0;
  }
}